.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .card {
    border: 1px solid lightgray;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .cardTitle {
    border-radius: 1rem 1rem 0 0;

    background-color: #276074;

    color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  
  .cardTitle h3 {
    font-weight: 300;
  }

  .cardDesc {
    border-radius: 0 0 1rem 1rem;
    background-color: #242424;

    padding-left: 1vw;
    padding-right: 1vw;
  }