* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: white;


}

a {
    text-decoration: none;
    color: aliceblue;
}

#navLogo,
#navLinks {
    flex-basis: calc(100%/3);
}

#navProfile,
#navLists {
    flex-grow: 1;
}

#navLogo {
    justify-content: flex-start;
}

#navLogo>a {
    font-size: 2rem;
}

#navLists {
    gap: 3rem;
}

#navLinks {
    gap: 6rem;
}

#navProfile {
    padding: 3rem 1rem;
}

/* Mobile Nav ids */
#mobile-logo {
    justify-self: flex-start;
    

    flex-basis: calc(100%/2);
}

#hamburger-container {
    justify-self: flex-end;
    flex-basis: calc(100%/2);

    display: flex;
    justify-content: flex-end;

    padding-right: 2rem;
}


/* Homepage styling below */
#homepage {
    height: 85vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;


    background-image: radial-gradient(
        150vw,
        #2b2b54,
        transparent 50%
    );
}

#homepage > h1 {
    font-size: 7vh;
    max-width: 30vw;
}

#homepage > p {
    max-width: 70vw;
}

#get-started-btn {
    height: 10vh;
    width: 50vw;

    border: 1px solid #2b2b54;
    border-radius: 10px;

    font-size: 3vh;

    transition: all 400ms ease;
}

#get-started-btn:hover {
    background-color: #040824;
    color: white;
    scale: 1.1;
}


/* Articles page styling below */
#article-page {
    height: 85vh;
    background: linear-gradient(-45deg, rgb(5,10,24, 0.5), #040824, #020c52, rgb(5,10,24));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main>article {
    display: grid;
    height: 100%;

    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}

main>article>.article-section {
    height: 100%;
}

main>article>.art-desc,
main>article>.art-nav {
    border-left: 1px solid rgb(255, 255, 255, 0.1);
}

main>article>.art-title,
main>article>.art-nav {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}


.art-img {
    grid-column: 1 / span 2;
    overflow: hidden;
    max-height: 400px;
    max-width: 100%;

}

.art-title {
    color: white;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 2vw;
    padding-top: 5vh;
}

.art-title > h1 {
    font-size: 3vh;
}

.art-title > #goto-article {
    opacity: 0;

    transition: all 200ms ease;
}

#title {
    transition: all 200ms ease;
}

.art-title:hover > #goto-article {
    transform: translateY(-10vh);
    opacity: 1;
}

.art-title:hover > #title {
    transform: translateY(-10vh);
    opacity: 0;
}

.art-desc {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    padding: 2vw;

    color: #c7c3c9;
}

.art-img>img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.art-nav {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.art-nav > div {
    flex-grow: 1;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid rgb(255, 255, 255, 0.1);
    border-right: 1px solid rgb(255, 255, 255, 0.1);
}


/* Carousel controls animations */
.art-nav > div:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

#left-arrow {
    transition: transform 0.2s ease-in-out;
}

.art-nav > div:hover > #left-arrow{
    transform: translateX(-2vw);
}

#right-arrow {
    transition: transform 0.2s ease-in-out;
}

.art-nav > div:hover > #right-arrow{
    transform: translateX(2vw);
}

.art-nav > div > div {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.art-nav > div > div > p{
   position: absolute;
   opacity: 0;

   transition: opacity 400ms ease;
}

.art-nav > div:hover > div > p{
    opacity: 1;

}

@keyframes popup {
    0%   {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        transform: scale(0);
        opacity: 0;
        transform: translateY(3vh);
      }
}

.matchArrow-content {
    animation: popup 1s linear forwards;
}

.art-nav > div:hover > div > #down-arrow{
    animation: down-arrow 0.5s linear infinite
}

@keyframes down-arrow {
    0% {transform: translateY(-3vh);}
   50% {transform: translateY(3vh);}
  100% {transform: translateY(6vh);}
}

@keyframes slideright {
    0% { transform: translateX(-1000px); }
  100% { transform: none; }
}

.slide-right {
    animation: slideright 0.3s;
}

@keyframes slideleft {
    0% { transform: translateX(1000px); }
  100% { transform: none; }
}

.slide-left {
    animation: slideleft 0.3s;
}



@media screen and (max-width: 800px) {
    #homepage {
        background-image: radial-gradient(
        150vw,
        #2b2b54,
        transparent 70%
    );
    }

    #homepage > h1 {
        max-width: 80vw;
    }


    /* articles page */
    main > article {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 2fr;
    }

    main>article>.article-section {
        height: 100%;
        border-top: 1px solid rgb(255, 255, 255, 0.1);
        border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    }
    .art-img {
        grid-row: 1 / 1;
        grid-column: 1 / span 2;

    }
    article > a {
        grid-row: 2 / 2;
        grid-column: 1 / span 2;

    }

    .art-title {
        padding-left: 1vw;
        overflow: hidden;
    }

    .art-title > h2 {
        margin: 0;
    }
    

    .art-desc {
        grid-row: 3 / 3;
        grid-column: 1 / span 2;

        justify-content: center;
        align-items: center;
    }
    .art-nav {
        grid-row: 4 / 4;
        grid-column: 1 / span 2;  
    }

}


@media screen and (min-height: 700px){
    .art-img {
        max-height: 575px;
    }
}