.Nav {
    max-height: 15vh;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(255,255,255, 0.2);

    background-color: rgb(5,10,24);
}

.Nav a {
    text-decoration: none;
}

.navSection {
    display: flex;
    padding: 3rem 2rem;
    gap: 1rem;
    border-left: 1px solid rgb(255,255,255, 0.2);

    align-items: center;
    justify-content: center;
}

.logButton {
    font-weight: bold;

    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    border: 1px solid white;
    border-radius: 10%;
    padding: 1vh;
    box-shadow: 1px 1px 3px blue;

    transition: all 400ms ease;
}

.logButton:hover {
   background-color: white;
   color: black;
   scale: 1.1;
}   